certifi
charset-normalizer
click
dash
dash-core-components
dash-html-components
dash-table
Flask
idna
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
python-dateutil
python-dotenv
pytz
requests
six
tenacity
urllib3
Werkzeug
